<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <html lang="pl">
    <head>
        <link th:href="@{/styles.css}" rel="stylesheet" />
        <meta charset="UTF-8">
        <title>Zajęcia specjalnościowe</title>
    </head>
    <body>
        <h1>─── Zajęcia specjalnościowe ───</h1>
        <h2>Jan Kołakowski</h2>

        <nav>
            <a href="List_01">Lista Zadań nr 1</a>
            <a href="List_02">Lista Zadań nr 2</a>
            <a style="color: #00FFFF;" href="List_03">Lista Zadań nr 3</a>
        </nav>

        <h3>30.11.2023r</h3>
        <p><b>> ZADANIE 9:</b><br>Stwórz plik error, ale zamiast informacji tekstowej powinien wyświetlać się formularz z wprowadzonymi danymi.</p>
        <p><b>> ZADANIE 10:</b><br>Do punktu 9 dodaj informacje, które pole nie zostało poprawnie zwalidowane (zbyt mała liczba znaków).</p>
        <ul>
            <li><a href=http://localhost:8080/form>/form</a></li>
        </ul>
    </body>
</html>